<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login & Sign Up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="container" id="mainContainer">
    <div class="form-container">
      <form action="">
        <h2>Submit Project Here :</h2>
        <div class="input-group">

          <input type="text" placeholder="Full Name" id="FullName">
          <input type="text" placeholder="Midle Name" id="MidleName">
          <input type="text" placeholder="Last Name" id="lastName">
          <input type="text" placeholder="Enrollment Number" id="enrollment">
          <input type="search" placeholder="Branch" id="branch">
          <input type="search" placeholder="Department" id="department">
          <input type="text" placeholder="Semester" id="semester">
          <input type="text" placeholder="Mobile Number" id="mobileNumber">
          <input type="date" placeholder="submit Date" id="date">
          
          <textarea  placeholder="Describe your project here..." rows="6" cols="40"></textarea>
          <input type="url" placeholder="Project URL" id="url">

           <input type="file" id="fileInput" accept=".pdf" />
           <button onclick="uploadFile()">Upload</button>

           <div id="previewBox">
    <h3>File Preview:</h3>
    <div id="filePreview"></div>
  </div>

          <div class="submit_btn">
            <button type="button" id="btnSignUp">Register</button>
          </div>

       
      </form>
     <script src="/js/script.js"></script>

</body>

</html>