*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(213, 210, 210);
}

.containContainer {
  display: grid;
  /* position: relative; */
  grid-template-columns: auto auto ;     /* 2 columns */
  grid-template-rows: 23rem 20px 20px;   /* 3 rows */
  gap: 0px;                                /* No gap between grid items */
  padding: 8px;
}

/* First Box */
.Container {
  border: 2px solid rgb(26, 255, 10);
  background-color: white;
  height: 22rem;
  width: 28rem;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20px;
}

/* Second Box */
.Container1 {
  border: 2px solid rgb(255, 6, 6);
  background-color: white;
  height: 13rem;
  width: 28rem;
  grid-column: 1px;
  grid-row: 2;
  border-radius: 20px;
}

/* Third (Taller) Box */
.Container2 {
  border: 2px solid black;
  background-color: white;
  height: calc(25vh + 33vh);  /* Equal to combined height of .Container and .Container1 */
  width: 45rem;
  grid-column: 2;
  grid-row: 1 / span 2;      
  border-radius: 20px;

}

.canvasContainer{
    /* border: 2px solid red; */
    /* margin-left: 12px; */
    width: 27rem;
    height: 21.5rem;
}
  .upperContainer{
    /* border: 2px solid yellow; */
    position:relative;
    
    
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    height: 3rem;
    
}
 .leftnav{
    /* border: 2px solid greenyellow; */
    padding: 5px;
    border-radius: 20px;
    font-size: 1.5rem ;
    background-color: white;
    margin-left: 8px;
    margin-top: 5px;
    left: auto;
    /* width: 40rem; */
    
}
 .navbar2{
    /* border: 2px solid rgb(47, 78, 255); */
    padding: 5px;
    border-radius: 20px;
    font-size: 1.5rem ;
    background-color: white;
    margin-left: 8px;
    margin-top: 5px;
    left: auto;
    width: 10rem;
    text-align: center;
    
}
nav a{
    margin: 5px;
}
