

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", sans-serif;
    }

    body {
      height: 100vh;
      background: linear-gradient(135deg, #1d2b64, #f8cdda);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      animation: backgroundMove 10s infinite alternate ease-in-out;
    }

    @keyframes backgroundMove {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
    }

    .container {
      /* width: 420px; */
      /* border: 2px solid rgb(0, 0, 0); */
      backdrop-filter: blur(15px);
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      box-shadow: 0 20px 40px rgba(0,0,0,0.3);
      overflow: hidden;
      width: 60rem;
      height: 30rem;
      display: flex;
      justify-content: space-between;
      transition: 0.5s ease-in-out;
      animation: popIn 1s ease;
    
    }

    @keyframes popIn {
      0% { transform: scale(0.7); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
    }

    /* lottie-player {
      width: 150px;
      height: 150px;
      display: block;
      margin: 20px auto 10px;
    } */

    .ipic{
      /* border: 2px solid yellow; */
      height: 10cm;
      width: 12cm;
      margin-top: 40px;
      margin-left: 2rem;
      /* animation: popIn2 initial 2s  ease-in-out; */
    }
    .ipic2{
      /* border: 2px solid yellow; */
      /* display: flex; */
      /* justify-content: flex-end; */
      height: 10cm;
      width: 10cm;
      margin-top: 20px;
      margin-left: 2rem;
      /* animation: popIn2 2s ease-in; */
    
    }
     @keyframes popIn2 {
      0% { transform: scale(3); opacity: 0; }
      /* 50% { transform: scale(2); opacity: 2; } */
      100% { transform: scale(1); opacity: 3;   }
    }

    .form-container{
      /* border: 2px solid rgb(164, 255, 6); */
      position: relative;
      width: 180rem;
      height: 29.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: transform 0.8s ease-in-out;
    }
    
    .form-box {
      /* border: 2px solid black; */
      width:25rem;
      height: 29rem;
      /* margin-left: 20rem; */
      margin-top: 1rem;
      /* margin-right: 5rem; */
      padding: 30px;
      animation: fadeIn 1s ease forwards;
    }
    .form-box2  {
      /* border: 2px solid black; */
      width: 28rem;
      height: 29rem;
      margin-left: 30rem;
      /* margin-ri: 18rem; */
      margin-top: 1rem;
      padding: 20px;
      animation: fadeIn 1s ease forwards;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(30px); }
      to { opacity: 1; transform: translateY(0); }
    }

    h2 {
      text-align: center;
      margin-bottom: 15px;
      color: white;
      font-size: 40px;
    }
    h3 {
      text-align: center;
      margin-bottom: 15px;
      color: rgba(255, 255, 255, 0.659);
      font-size: 15px;
    }
    input{
      margin: 2px;
    }

    .input-group {
      position: relative;
      /* border: 2px solid red; */
      /* margin-bottom:2rem; */
      height: 12rem;
      /* width: 20rem; */
      font-size: 30px;
      font-weight: 500;
      
    }
    .input-group2{
      position: relative;
      /* border: 2px solid red; */
      margin-left: 2rem;
      /* margin-bottom: 10rem; */
      height: 10rem;
      width: 22rem;
      font-size: 25px;
      font-weight: 500;
      
    }

    .input-group input,.input-group2 input {
      width: 100%;
      padding: 12px;
      background: transparent;
      border: none;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      color: white;
      font-size: 16px;
      outline: none;
      transition: 0.6s ease;
    }

    .input-group2 input::placeholder {
      
      color: #a99f9f;
      
    }

    .input-group input:focus ,
    .input-group2 input:not(:placeholder-shown) {
      top: -10px;
      font-size: 16px;
      color: white;
    }



    button {
      width: 100%;
      padding: 10px;
      background: #f8cdda;
      color: #1d2b64;
      font-size: 16px;
      border: none;
      border-radius: 25px;
      margin-top: 1rem;
      cursor: pointer;
      transition: 0.4s ease;
    }

    button:hover {
      background: #ffb5d6;
      transform: scale(1.03);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }

    input:hover {
      background: #c0bdbe46;
      transform: scale(1);
      border: none;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }

    .switch {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
      color: #eee;
    }

    .switch span {
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    .switch span:hover {
      text-decoration: underline;
    }

    .container.active .form-container {
      transform: translateX(-60%);
    }

    .choiceContainer{
      display: flex;
      /* border: 2px solid red; */
      height: 3rem;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: rgb(5, 217, 255);
      /* padding: 2rem; */
      
    }
    .student_login, .teacher_login{
      /* border: 2px solid red; */
      margin: 20px;
      
    }

    .accounts{
      /* border: 2px solid green; */
      display: flex;
      justify-content: space-between;
      margin-left: 8rem;
      width: 10rem;
      margin-top: 25px;
      margin-bottom: 5px;

    }
       
  /* .password-container {
  position: relative;
  /* border: 2px solid rebeccapurple; */
  /* display: flex;
  align-items: center; */
 

.password-container input {
  padding-right: 40px;
  height: 30px;
  font-size: 16px;
}

.toggle{
  position: absolute;
  margin: 5px;
  border: 2px solid rgb(51, 138, 153);
  right: 5px;
  background: none;
  /* border: none; */
  width: 20px;
  height: 10px;
  cursor: pointer;
  font-size: 18px;
}
/* .hidden {
  display: block;
} */

/*
  This is for getting the red error
*/

  .input-group  .error {
    /* disply: "block"  make sure it's below input */
  margin-top: 2px;      /* small gap */
  font-size: 14px;
  color: red;
  display: none
  }

  .input-group2  .error {
    /* disply: "block"  make sure it's below input */
  margin-top: 2px;      /* small gap */
  font-size: 14px;
  color: red;
  display: none
}